.mainContainer {
  background-color: #e938b566;
  width: 25%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -25%;
  overflow-x: hidden;
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  transition: transform 3s ease;
}

.containerAnimate {
  transform: translateX(100%);
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1em;
  color: white;
}

.itemContainer {
  width: 100%;
  margin: 1em;
  margin-right: 1.3em;
  padding: 0;
}
