:root {
  --monitorHeight: 22.5rem;
  --monitorWidth: 40rem;
}

.monitor {
  background-color: #6d70a8;
  font-size: 30px;
  width: var(--monitorWidth);
  height: var(--monitorHeight);
  position: relative;
  z-index: 1;
  border-radius: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20%;
  top: 40%;
  transform: translateY(-50%) scale(1.5);
}

.monitor::before {
  content: "";
  display: block;
  width: 8%;
  height: 23%;
  background-color: #4f5287;
  position: absolute;
  right: 50%;
  bottom: -29.9%;
  transform: translateX(50%) translateY(-30%);
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  z-index: -1;
}

.monitor::after {
  content: "";
  display: block;
  width: 40%;
  height: 2.8%;
  background-color: #6d70a8;
  position: absolute;
  right: 50%;
  bottom: -24.5%;
  transform: translateX(50%);
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.innerMonitor {
  background-color: #111412;
  width: calc(var(--monitorWidth) * 0.94);
  height: calc(var(--monitorHeight) * 0.89);
  border-radius: 0.2em;
  border: 5px solid #2e2957;
  transition: border 3s;
}

.monitorOn {
  border-top: 5px solid #2e2957;
  border-left: 5px solid #9c94c3;
  border-right: 5px solid #d6dfe2;
  border-bottom: 5px solid #fedeff;
}

.backImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 3s ease;
  pointer-events: none;
  user-select: none;
}

.backImgOn {
  opacity: 1;
}

.powerButtonOff,
.powerButtonOn {
  width: 3%;
  height: 0.9%;
  background-color: #4f5287;
  position: absolute;
  bottom: -0.9%;
  right: 5%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  z-index: 6;
}

.powerButtonOff:active {
  height: 0.5%;
  bottom: -0.5%;
}

.focusPoint {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  height: 2em;
  z-index: 3;
  border-radius: 100%;
  box-shadow: 0 0 5em 100em rgba(0, 0, 0, 0.93), 0 0 15em white, 0 0 20em white;
  pointer-events: none;
  transition: all 0.5s;
}

.focusPointOff {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  height: 2em;
  z-index: 3;
  border-radius: 100%;
  box-shadow: 0 0 5em 100em rgba(0, 0, 0, 0.93), 0 0 15em white, 0 0 20em white;
  pointer-events: none;
  transform: scale(45);
  transition: all 2s;
  visibility: hidden;
}

.powerIcon {
  position: absolute;
  width: 1.8%;
  height: auto;
  bottom: 0.5%;
  right: 5.6%;
  filter: brightness(0);
  transition: filter 3s ease;
  background: none;
}

.powerIconOn {
  filter: brightness(100%) drop-shadow(0 0 2px #65e1f1);
}

@media only screen and (min-width: 992px) {
}
